---
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const { default: apps } = await import(
    "../../../repo/pkgforge-go/x86_64-linux/_apps.json"
  );

  return apps.map((app) => {
    // Thanks @Azathothas for forcing us to write this hellifying script
    const [, , , , , , ...s] = app.pkg_webpage.split("/");

    return {
      params: {
        slug: `${s.join("/")}/raw.dl`
      },
      props: {
        data: app,
        logs: app.build_log || "",
      },
    };
  });
}

const { data } = Astro.props;
---

<meta http-equiv="refresh" content={`0;url=${data.download_url}`} />
<Layout>
  <div class="flex min-h-[50vh] flex-col items-center justify-center space-y-4">
    <h1 class="text-2xl font-bold">Download Started!</h1>
    <p class="text-gray-600">
      Your download should begin automatically. If it hasn't started, <a
        href={data.download_url}
        class="text-blue-500 underline">click here</a
      >.
    </p>
  </div>
</Layout>
